<app-header></app-header>




<div class='w3-sidebar' id='sidenav'>
    <div id='leftmenuinner'>
      <div id='leftmenuinnerinner'>

        <h2 class="left">CSS</h2>
        <a target="_top" href="default.asp">CSS HOME</a>
        <a target="_top" href="w3css_intro.asp">CSS Intro</a>
        <a target="_top" href="w3css_colors.asp">CSS Colors</a>
        <a target="_top" href="w3css_containers.asp">CSS Containers</a>
        <a target="_top" href="w3css_panels.asp">CSS Panels</a>
        <a target="_top" href="w3css_borders.asp">CSS Borders</a>
        <a target="_top" href="w3css_cards.asp">CSS Cards</a>
        <a target="_top" href="w3css_defaults.asp">CSS Defaults</a>
        <a target="_top" href="w3css_fonts.asp">CSS Fonts</a>
        <a target="_top" href="w3css_fonts_google.asp">CSS Google</a>
        <a target="_top" href="w3css_text.asp">CSS Text</a>
        <a target="_top" href="w3css_round.asp">CSS Round</a>
        <a target="_top" href="w3css_padding.asp">CSS Padding</a>
        <a target="_top" href="w3css_margins.asp">CSS Margins</a>
        <a target="_top" href="w3css_display.asp">CSS Display</a>
        <a target="_top" href="w3css_buttons.asp">CSS Buttons</a>
        <a target="_top" href="w3css_notes.asp">CSS Notes</a>
        <a target="_top" href="w3css_quotes.asp">CSS Quotes</a>
        <a target="_top" href="w3css_alerts.asp">CSS Alerts</a>
        <a target="_top" href="w3css_tables.asp">CSS Tables</a>
        <a target="_top" href="w3css_lists.asp">CSS Lists</a>
        <a target="_top" href="w3css_images.asp">CSS Images</a>
        <a target="_top" href="w3css_input.asp">CSS Inputs</a>
        <a target="_top" href="w3css_badges.asp">CSS Badges</a>
        <a target="_top" href="w3css_tags.asp">CSS Tags</a>
        <a target="_top" href="w3css_icons.asp">CSS Icons</a>
        <a target="_top" href="w3css_responsive.asp">CSS Responsive</a>
        <a target="_top" href="w3css_layout.asp">CSS Layout</a>
        <a target="_top" href="w3css_animate.asp">CSS Animations</a>
        <a target="_top" href="w3css_effects.asp">CSS Effects</a>
        <a target="_top" href="w3css_bars.asp">CSS Bars</a>
        <a target="_top" href="w3css_dropdowns.asp">CSS Dropdowns</a>
        <a target="_top" href="w3css_accordions.asp">CSS Accordions</a>
        <a target="_top" href="w3css_navigation.asp">CSS Navigation</a>
        <a target="_top" href="w3css_sidebar.asp">CSS Sidebar</a>
        <a target="_top" href="w3css_tabulators.asp">CSS Tabs</a>
        <a target="_top" href="w3css_pagination.asp">CSS Pagination</a>
        <a target="_top" href="w3css_progressbar.asp">CSS Progress Bars</a>
        <a target="_top" href="w3css_slideshow.asp">CSS Slideshow</a>
        <a target="_top" href="w3css_modal.asp">CSS Modal</a>
        <a target="_top" href="w3css_tooltips.asp">CSS Tooltips</a>
        <a target="_top" href="w3css_grid.asp">CSS Grid</a>
        <a target="_top" href="w3css_code.asp">CSS Code</a>
        <a target="_top" href="w3css_filters.asp">CSS Filters</a>
        <a target="_top" href="w3css_trends.asp">CSS Trends</a>
        <a target="_top" href="w3css_case.asp">CSS Case</a>
        <a target="_top" href="w3css_material.asp">CSS Material</a>
        <a target="_top" href="w3css_validation.asp">CSS Validation</a>
        <a target="_top" href="w3css_versions.asp">CSS Versions</a>
        <a target="_top" href="w3css_mobile.asp">CSS Mobile</a>
        <br>
        <h2 class="left">W3.CSS Colors</h2>
        <a target="_top" href="w3css_color_classes.asp">CSS Color Classes</a>
        <a target="_top" href="w3css_color_material.asp">CSS Color Material</a>
        <a target="_top" href="w3css_color_flat.asp">CSS Color Flat UI</a>
        <a target="_top" href="w3css_color_metro.asp">CSS Color Metro UI</a>
        <a target="_top" href="w3css_color_win8.asp">CSS Color Win8</a>
        <a target="_top" href="w3css_color_ios.asp">CSS Color iOS</a>
        <a target="_top" href="w3css_color_fashion.asp">CSS Color Fashion</a>
        <a target="_top" href="w3css_color_libraries.asp">CSS Color Libraries</a>
        <a target="_top" href="w3css_color_schemes.asp">CSS Color Schemes</a>
        <a target="_top" href="w3css_color_themes.asp">CSS Color Themes</a>
        <a target="_top" href="w3css_color_generator.asp">CSS Color Generator</a>
        <br>
        <h2 class="left">Web Building</h2>
        <a target="_top" href="w3css_web.asp">Web Intro</a>
        <a target="_top" href="w3css_web_html.asp">Web HTML</a>
        <a target="_top" href="w3css_web_css.asp">Web CSS</a>
        <a target="_top" href="w3css_web_javascript.asp">Web JavaScript</a>
        <a target="_top" href="w3css_web_layout.asp">Web Layout</a>
        <a target="_top" href="w3css_web_tmp_band.asp">Web Band</a>
        <a target="_top" href="w3css_web_tmp_catering.asp">Web Catering</a>
        <a target="_top" href="w3css_web_tmp_pizza.asp">Web Restaurant</a>
        <a target="_top" href="w3css_web_tmp_architect.asp">Web Architect</a>
        <br>
        <h2 class="left">Examples</h2>
        <a target="_top" href="w3css_examples.asp">W3.CSS Examples</a>
        <a target="_top" href="w3css_demo.asp">W3.CSS Demos</a>
        <a target="_top" href="w3css_templates.asp">W3.CSS Templates</a>
        <br>
        <h2 class="left">References</h2>
        <a target="_top" href="w3css_references.asp">W3.CSS Reference</a>
        <a target="_top" href="w3css_downloads.asp">W3.CSS Downloads</a>
        
        <br><br>
      </div>
    </div>
</div>


<div class="content" style="margin-left: 290px; width: 870px;padding-top: 100px;">
    

    <div id="intro">
            <h1>Cascading Style Sheet</h1>

           
            <ul>
                <li>It is a stylesheet language used for describing the presentation of document written in a markup language like HTML</li>
                <li>CSS is a cornerstone technology for world wide web alongside HTML and JavaScript</li>
                <li>CSS is designed to enable separation of presentation and contents</li>
                <li>All styles are stored in CSS files</li>
                <li>CSS files must have extension as ".css" only</li>
                </ul>
           <br>
    </div>


    <h2>Why CSS?</h2>


    <ul>
        <li>it allows much richer presentation appearance</li>
        <li>it reduces workload by centralizing commands for visual appearance instead of scattered ones</li>
        <li>some styles can be reused for multiple documents</li>
        </ul>

        <br>

        <h2>Types of CSS </h2>

        <ol>
                <li>Inline CSS -> Highest priority</li>
            <ul>
                <li>can be applied to only that tag</li>
            </ul>
            <li>Internal CSS -> Medium priority</li>
            <ul>
            <li>can be applied to only that document</li>
            </ul>
            <li>External CSS -> Lowest priority</li>
            <ul>
            <li>can be applied globally</li>
            </ul>
            </ol>
        <br>

        <h2>CSS syntax (rule-set)</h2>

        <ul>
            <li>CSS syntax is selector and declaration block</li>
            <li>The selector points to the HTML element you want to style</li>
            <li>Each declaration includes CSS property and value pair</li>
            <li>Properties and  values are separated by colon(:)</li>
            <li>Each property and value separated by semicolon(;)</li>
        </ul>

    <div class="w3-example">
        <h3>Example</h3>
        <div class="w3-code notranslate htmlHigh">
            <ul>
                
                <p>. h1 <br/> &lcub; <br/> &nbsp;&nbsp; color: red; <br/>&nbsp;&nbsp; font-size: 12px; <br/> &rcub; <br/> where</p>
                <p>h1 is a selector</p>
                <p>color is property</p>
                <p>red is value</p>
                <p>font-size is property</p>
                <p>12px is value</p>
                
                </ul>

        </div>
    </div>



    
<h2>How To</h2>
        <p>To use W3.CSS in your web site, just add a link to &quot;w3.css&quot; from your web 
        pages:</p>
        <div class="w3-example">
        <h3>Example</h3>
        <div class="w3-code notranslate htmlHigh">
        &lt;link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"&gt;
        </div>
    
        </div>  
    <div id="editors">
        <p>Web pages can be created and modified by using professional HTML editors.</p>
        <p>However, for learning HTML we recommend a simple text editor like Notepad (PC) or TextEdit (Mac).</p>
        <p>We believe in that using a simple text editor is a good way to learn HTML. </p>
    </div>

    <div class="w3-example" id="ex-3">
        <h3>Html Basics</h3>
        <div class="w3-code notranslate htmlHigh">
        &lt;!DOCTYPE html&gt;<br>
        &lt;html&gt;<br>&lt;head&gt;<br>&lt;title&gt;Page Title&lt;/title&gt;<br>
        &lt;/head&gt;<br>&lt;body&gt;<br><br>&lt;h1&gt;This is a Heading&lt;/h1&gt;<br>&lt;p&gt;This is a paragraph.&lt;/p&gt;<br><br>
        &lt;/body&gt;<br>&lt;/html&gt;
        </div>
    </div>


    


    <div class="w3-example">
        <h3>Example</h3>
        <div class="w3-code notranslate htmlHigh">
        &lt;!DOCTYPE html&gt;<br>
        &lt;html&gt;<br>&lt;head&gt;<br>&lt;title&gt;Page Title&lt;/title&gt;<br>
        &lt;/head&gt;<br>&lt;body&gt;<br><br>&lt;h1&gt;This is a Heading&lt;/h1&gt;<br>&lt;p&gt;This is a paragraph.&lt;/p&gt;<br><br>
        &lt;/body&gt;<br>&lt;/html&gt;
        </div>
    </div>





    
</div>
<div class="html-basics">
    <h1>HTML Basics</h1>
    <p>All HTML documents must start with a document type declaration: &lt;!DOCTYPE html&gt;.  </p>
        <p>The HTML document itself begins with &lt;html&gt; and ends with &lt;/html&gt;.

    </p>

  
</div>


