<app-header></app-header>

<br><br><br>



      <div class='sidebar pt-4' id='sidenav'>
          <div id='leftmenuinner'>
            <div id='leftmenuinnerinner'>

        <h2 class="left"><span class="left_h2">HTML</span> Tutorial</h2>
        <!-- <a target="_top" href="#html_header">HTML HOME</a> -->
        <a  href="#intro">HTML Introduction</a>
        <a target="_top" href="" (click)="linkClick('part1')">HTML Editors</a>
        <!-- <a target="_top" href="#editors" (click)="linkClick('part1')">HTML Editors</a> -->
        <a target="_top" href="html_basic.asp">HTML Basic</a>
        <a target="_top" href="html_elements.asp">HTML Elements</a>
        <a target="_top" href="html_attributes.asp">HTML Attributes</a>
        <a target="_top" href="html_headings.asp">HTML Headings</a>
        <a target="_top" href="html_paragraphs.asp">HTML Paragraphs</a>
        <a target="_top" href="html_styles.asp">HTML Styles</a>
        <a target="_top" href="html_formatting.asp">HTML Formatting</a>
        <a target="_top" href="html_quotation_elements.asp">HTML Quotations</a>
        <a target="_top" href="html_comments.asp">HTML Comments</a>
        <a target="_top" href="html_colors.asp">HTML Colors</a>
        <div class="tut_overview">
          <a target="_top" href="html_colors.asp">Colors</a>
          <a target="_top" href="html_colors_rgb.asp">RGB</a>
          <a target="_top" href="html_colors_hex.asp">HEX</a>
          <a target="_top" href="html_colors_hsl.asp">HSL</a>
        </div>
        <a target="_top" href="html_css.asp">HTML CSS</a>
        <a target="_top" href="html_links.asp">HTML Links</a>
        <div class="tut_overview">
          <a target="_top" href="html_links.asp">Links</a>
          <a target="_top" href="html_links_colors.asp">Link Colors</a>
          <a target="_top" href="html_links_bookmarks.asp">Link Bookmarks</a>
        </div>
        <a target="_top" href="html_images.asp">HTML Images</a>
        <div class="tut_overview">
          <a target="_top" href="html_images.asp">Images</a>
          <a target="_top" href="html_images_imagemap.asp">Image Map</a>
          <a target="_top" href="html_images_background.asp">Background Images</a>
          <a target="_top" href="html_images_picture.asp">The Picture Element</a>
        </div>
        <a target="_top" href="html_favicon.asp">HTML Favicon</a>
        <a target="_top" href="html_tables.asp">HTML Tables</a>
        <div class="tut_overview">
          <a target="_top" href="html_tables.asp">HTML Tables</a>
          <a target="_top" href="html_table_borders.asp">Table Borders</a>
          <a target="_top" href="html_table_sizes.asp">Table Sizes</a>
          <a target="_top" href="html_table_headers.asp">Table Headers</a>
          <a target="_top" href="html_table_padding_spacing.asp">Padding &amp; Spacing</a>
          <a target="_top" href="html_table_colspan_rowspan.asp">Colspan &amp; Rowspan</a>
          <a target="_top" href="html_table_styling.asp">Table Styling</a>
          <a target="_top" href="html_table_colgroup.asp">Table Colgroup</a>
        </div>
        
        
        
        <a target="_top" href="html_lists.asp">HTML Lists</a>
        <div class="tut_overview">
        <a target="_top" href="html_lists.asp">Lists</a>
        <a target="_top" href="html_lists_unordered.asp">Unordered Lists</a>
        <a target="_top" href="html_lists_ordered.asp">Ordered Lists</a>
        <a target="_top" href="html_lists_other.asp">Other Lists</a>
        </div>
        <a target="_top" href="html_blocks.asp">HTML Block &amp; Inline</a>
        <a target="_top" href="html_classes.asp">HTML Classes</a>
        <a target="_top" href="html_id.asp">HTML Id</a>
        <a target="_top" href="html_iframe.asp">HTML Iframes</a>
        <a target="_top" href="html_scripts.asp">HTML JavaScript</a>
        <a target="_top" href="html_filepaths.asp">HTML File Paths</a>
        <a target="_top" href="html_head.asp">HTML Head</a>
        <a target="_top" href="html_layout.asp">HTML Layout</a>
        <a target="_top" href="html_responsive.asp">HTML Responsive</a>
        <a target="_top" href="html_computercode_elements.asp">HTML Computercode</a>
        <a target="_top" href="html5_semantic_elements.asp">HTML Semantics</a>
        <a target="_top" href="html5_syntax.asp">HTML Style Guide</a>
        <a target="_top" href="html_entities.asp">HTML Entities</a>
        <a target="_top" href="html_symbols.asp">HTML Symbols</a>
        <a target="_top" href="html_emojis.asp">HTML Emojis</a>
        <a target="_top" href="html_charset.asp">HTML Charset</a>
        <a target="_top" href="html_urlencode.asp">HTML URL Encode</a>
        <a target="_top" href="html_xhtml.asp">HTML vs. XHTML</a>
        <br>
        <h2 class="left"><span class="left_h2">HTML</span> Forms</h2>
        <a target="_top" href="html_forms.asp">HTML Forms</a>
        <a target="_top" href="html_forms_attributes.asp">HTML Form Attributes</a>
        <a target="_top" href="html_form_elements.asp">HTML Form Elements</a>
        <a target="_top" href="html_form_input_types.asp">HTML Input Types</a>
        <a target="_top" href="html_form_attributes.asp">HTML Input Attributes</a>
        <a target="_top" href="html_form_attributes_form.asp">HTML Input Form Attributes</a>
      

        <br>
      
        <br>
      
              <br><br>
            </div>
          </div>
      </div>


    <div class="content mt-2" style="margin-left: 290px; width: 870px; ">
        

        <div id="intro">
                <h1>HTML Introduction</h1>
              <ul>
                  <li>HTML stands for Hyper Text Markup Language</li>
                  <li>HTML is the standard markup language for creating Web pages</li>
                  <li>HTML describes the structure of a Web page</li>
                  <li>HTML consists of a series of elements</li>
              </ul>
              <br>
        </div>

        <h1>A simple HTML document</h1>

        <div class="w3-example">
            <h3>Example</h3>
            <div class="w3-code notranslate htmlHigh">
            &lt;!DOCTYPE html&gt;<br>
            &lt;html&gt;<br>&lt;head&gt;<br>&lt;title&gt;Page Title&lt;/title&gt;<br>
            &lt;/head&gt;<br>&lt;body&gt;<br><br>&lt;h1&gt;This is a Heading&lt;/h1&gt;<br>&lt;p&gt;This is a paragraph.&lt;/p&gt;<br><br>
            &lt;/body&gt;<br>&lt;/html&gt;
            </div>
        </div>

        
        <div id="editors">
            <h1>Learn HTML Using Notepad or TextEdit</h1>
            <p>Web pages can be created and modified by using professional HTML editors.</p>
            <p>However, for learning HTML we recommend a simple text editor like Notepad (PC) or TextEdit (Mac).</p>
            <p>We believe in that using a simple text editor is a good way to learn HTML. </p>
        </div>


        <div class="w3-example" id="ex-3">
            <h3>Html Basics</h3>
            <div class="w3-code notranslate htmlHigh">
            &lt;!DOCTYPE html&gt;<br>
            &lt;html&gt;<br>&lt;head&gt;<br>&lt;title&gt;Page Title&lt;/title&gt;<br>
            &lt;/head&gt;<br>&lt;body&gt;<br><br>&lt;h1&gt;This is a Heading&lt;/h1&gt;<br>&lt;p&gt;This is a paragraph.&lt;/p&gt;<br><br>
            &lt;/body&gt;<br>&lt;/html&gt;
            </div>
        </div>


        


        <div class="w3-example">
            <h3>Example</h3>
            <div class="w3-code notranslate htmlHigh">
            &lt;!DOCTYPE html&gt;<br>
            &lt;html&gt;<br>&lt;head&gt;<br>&lt;title&gt;Page Title&lt;/title&gt;<br>
            &lt;/head&gt;<br>&lt;body&gt;<br><br>&lt;h1&gt;This is a Heading&lt;/h1&gt;<br>&lt;p&gt;This is a paragraph.&lt;/p&gt;<br><br>
            &lt;/body&gt;<br>&lt;/html&gt;
            </div>
        </div>

        <div class="html-basics">
          <h1>HTML Basics</h1>
          <p>All HTML documents must start with a document type declaration: &lt;!DOCTYPE html&gt;.  </p>
              <p>The HTML document itself begins with &lt;html&gt; and ends with &lt;/html&gt;.</p>
        </div>
   
        <div class="w3-example">
          <h3>Example</h3>
          <div class="w3-code notranslate htmlHigh">
          &lt;!DOCTYPE html&gt;<br>
          &lt;html&gt;<br>&lt;head&gt;<br>&lt;title&gt;Page Title&lt;/title&gt;<br>
          &lt;/head&gt;<br>&lt;body&gt;<br><br>&lt;h1&gt;This is a Heading&lt;/h1&gt;<br>&lt;p&gt;This is a paragraph.&lt;/p&gt;<br><br>
          &lt;/body&gt;<br>&lt;/html&gt;
          </div>
      </div>

      <div class="html-basics">
        <h1>HTML Basics</h1>
        <p>All HTML documents must start with a document type declaration: &lt;!DOCTYPE html&gt;.  </p>
            <p>The HTML document itself begins with &lt;html&gt; and ends with &lt;/html&gt;.</p>
      </div>
 
      <div class="w3-example" id="part1">
        <h1>html editor</h1>
        <h3>Example</h3>
        <div class="w3-code notranslate htmlHigh">
        &lt;!DOCTYPE html&gt;<br>
        &lt;html&gt;<br>&lt;head&gt;<br>&lt;title&gt;Page Title&lt;/title&gt;<br>
        &lt;/head&gt;<br>&lt;body&gt;<br><br>&lt;h1&gt;This is a Heading&lt;/h1&gt;<br>&lt;p&gt;This is a paragraph.&lt;/p&gt;<br><br>
        &lt;/body&gt;<br>&lt;/html&gt;
        </div>
    </div>

    <div class="html-basics">
      <h1>HTML Basics</h1>
      <p>All HTML documents must start with a document type declaration: &lt;!DOCTYPE html&gt;.  </p>
          <p>The HTML document itself begins with &lt;html&gt; and ends with &lt;/html&gt;.</p>
    </div>

<div class="foo" style="width: 1100px; margin-left: -50px;">
  <app-footer></app-footer>

</div>
      
    </div>


